.DS_Store
*.cmd_log
*.lso
*.ngc
*.ngr
*.prj
*.stx
*.syr
*.xst
*.html
*.prj
*.xrpt
*.gise
*.xise
*.xmsgs
*.ini
xst/
*.rar
*.xml
iseconfig/
isim/
IF/testbench/
*.vhi
*.spl
*.sym
_ngo/
*.tcl
*.log
*.debug
planAhead_run_1/
*.bgn
*.bit
*.bld
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.ucf
*.unroutes
*.ut
*.xpi
*.xwbt
*.csv
*.txt
*.map
xlnx_auto_0_xdb/
*.twx
*.mrp
*.ngm
